*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.hero{
 background-image:url(Image-backgrounddd.jpeg) ;  
 background-repeat: no-repeat;
 background-size: cover;
 height: 160px;
 background-position: center;
 overflow: hidden;
color: rgb(239, 212, 57);
}

.project{
margin-top: 15px;
overflow: hidden;
width: 100%;
}

 
.project-item{
float: left ;
width: 23%;
border: 2px solid;
margin-left: 8px;
margin-bottom: 10px;
height: 200px;
padding: 5px;
border-color: rgb(205, 67, 21);
}
 .project-02{
  margin-top: 15px;
  width: 100%;
  overflow: hidden;
 }
 .project-item-02{
 float: left ;
 width: 25%;
 border: 2px solid chocolate;
 margin-bottom: 10px;
 height: 100px;
 padding: 5px;
 }

